parameters:
    level: max
    excludePaths:
        analyse:
          - vendor
        analyseAndScan:
          - src/*.php
    scanDirectories:
      - classes
    ignoreErrors:
      -
        message: '#Call to function is_null\(\) with Psr\\Log\\LoggerInterface will always evaluate to false.#'
        path: classes/BackyardBriefApiClient.php
      -
        message: '#Else branch is unreachable because ternary operator condition is always true.#'
        path: classes/BackyardGeo.php
      -
        message: '#Offset 1 on non-empty-array<int, string> in isset\(\) always exists and is not nullable.#'
        path: classes/BackyardHttp.php
