parameters:
    level: max
    excludePaths:
        analyse:
          - vendor
        analyseAndScan:
          - src/*.php
    scanDirectories:
      - classes
    ignoreErrors:
      -
        message: '#Call to function is_null\(\) with Psr\\Log\\LoggerInterface will always evaluate to false.#'
        path: classes/BackyardBriefApiClient.php
      -
      	message: '#^Binary operation "\." between mixed and '' '' results in an error\.$#'
      	identifier: binaryOp.invalid
      	count: 1
      	path: classes/BackyardGeo.php

      -
      	message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
      	identifier: binaryOp.invalid
      	count: 1
      	path: classes/BackyardGeo.php

      -
      	message: '#^Call to function array_key_exists\(\) with ''distance'' and array\{poi_id\: mixed, category\: mixed, mesto\: mixed, PSC\: mixed, adresa\: mixed, lng\: float, lat\: float, roughDistance\: float, \.\.\.\} will always evaluate to true\.$#'
      	identifier: function.alreadyNarrowedType
      	count: 1
      	path: classes/BackyardGeo.php

      -
      	message: '#^Call to function is_array\(\) with non\-empty\-array\<mixed\> will always evaluate to true\.$#'
      	identifier: function.alreadyNarrowedType
      	count: 1
      	path: classes/BackyardGeo.php

      -
      	message: '#^Method WorkOfStan\\Backyard\\BackyardGeo\:\:getListOfPOI\(\) should return array\<array\<mixed\>\>\|false but returns non\-empty\-array\<mixed, mixed\>\.$#'
      	identifier: return.type
      	count: 1
      	path: classes/BackyardGeo.php
