parameters:
    level: max
    excludePaths:
        analyse:
          - vendor
        analyseAndScan:
          - src/*.php
    scanDirectories:
      - classes
    ignoreErrors:
      -
        message: '#Call to function is_null\(\) with Psr\\Log\\LoggerInterface will always evaluate to false.#'
        path: classes/BackyardBriefApiClient.php
    #  - '#Reflection error: PHPUnit_Framework_TestCase not found.#'
